.mainContainer {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  .header {
    p {
      font-size: 2em;
      margin-bottom: 0;
    }
    h1 {
      margin-top: 0;
      margin-left: 0.5em;
      font-size: 3em;

    }
  }
  .highScoreContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    .highScoreLabel {
      font-size: 1.5em;
      font-weight: bolder;
      color: #fff5;
      margin-bottom: 0;
    }
    .highScoreValue {
      color: #333;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 45%;
      h2 {
        margin: 0em;
      }
      svg {
        font-size: 1.1em;
      }
    }
  }
  .playButtonContainer {
    height: 33%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1em;
    .playButton {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      font-size: 1em;
      width: 70%;
      background-color: #BBFAD4;
      color: #333;
      font-weight: 600;
      text-transform: none;
      display: flex;
      justify-content: space-around;
      padding: 0.5em 2em;
    }
  }
}
