.gameContainer {
  position: relative;
  color: #fff;
  height: 100vh;
  max-height: 700px;
  max-width: 414px;
  width: 414px;
  background: rgb(145,218,240);
  background: linear-gradient(
    325deg, rgba(145,218,240,1) 14%,
    rgba(63,191,230,1) 75%,
    rgba(38,164,201,1) 100%
    );
}

.mobile {
  height: 100vh !important;
  max-height: 1000px;
  margin: 0;
}
